<div id="batches_window">
</div>
<div id="search_product_window">
  <div class="toolbar">
    <input type="text" style="width: 100%;" class="k-input" id="batches_window_product_search"/>
  </div>
   <div id="search_product_window-grid"></div>
</div>

<div id="write_off_window">
  <div class="container" style="width: 350px">
  Причина:
    <select id="write_off_category" style="width: 280px;">
      <% WriteOff.category_names.each_pair do |name, val|  %>
        <option value="<%= name %>"><%= val %></option>
      <% end %>
    </select>
    <br>
    <br>
    Количество:
    <input id="write_off_amount" style="width: 260px" />
    <br>
    <br>
    <button id="make_write_off" class="btn btn-primary pull-right">Оформить списание</button>
  </div>
</div>

<div class="modal fade" id="new_batch-window" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Новая партия</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          Штрих-код:
          <input type="text" id="batch_barcode" autofocus /> <strong id="batch_product_name"></strong>

          <div id="find_product_open_window" class="hidden">
            <strong id="batch_product_name" style="color: red">Штрих-код не найден.</strong>
            <a class="btn btn-default" id="find_product_open_window-button">Найти продукт</a>
          </div>

        </div>
        <div class="form-group">
          Отпускная цена: <input type="number" id="batch_price" disabled />
        </div>
        <div class="form-group">
          Цена поставщика: <input type="number" id="batch_supplier_price" disabled />
        </div>
        <div class="form-group">
          Количество: <input type="number" id="batch_amount" disabled />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="save_batch">Сохранить</button>
      </div>
    </div>
  </div>
</div>
<h1>Склад</h1>
<a id="add_batch-button" class="btn btn-default">Добавить</a>
<br>
<input type="text" style="width: 100%;" class="k-input form-control" id="batches-main_product_search"/>
<div id="batches_grid"></div>