<div id="item_batches_grid"></div>
<script type="text/javascript">
  function reloadGrid(item) {
    $('#item_batches_grid').kendoGrid({
      dataSource: {
        transport: {
          read:  {
            url: "/batches/" + item + ".json",
          },
          update: {
            url: function (batch) {
                return "/batches/" + batch.id + ".json";
              },
            type: "PATCH"
          },
          destroy: {
            url: function (batch) {
              return "/batches/" + batch.id + ".json";
            },
            type: "DELETE"
          }
        },
        schema: {
            model: {
                id: "id",
                fields: {
                    count: { type: "integer", validation: { min: 0, required: true }  },
                    price: { type: "integer", validation: { min: 0, required: true }  },
                    updated_at: {
                      editable: false,
                      type: "datetime",
                      parse: function(date) {
                             return kendo.parseDate(date)
                        },
                    },
                }
            }
        }
      },
      height: 400,
      filterable: false,
      sortable: true,
      editable: "inline",
      pageable: true,
      columns: [
          {
              field: "count",
              title: "Количество",
          },
          {
              field: "price",
              title: "Цена",
          },
          {
              field: "updated_at",
              title: "Последнее обновление",
              format: "{0:dd/MM/yyyy HH:MM}",
              width: '24%'
          },
          {
            command: [
            {
              text: "Изменить",
              name: 'edit'
            },
            {
              text: "Удалить",
              name: "destroy",
            },
            ]
          }
        ]
      });
  }
</script>