<div id="item_batches_grid"></div>
<script type="text/javascript">
  function reloadGrid(item) {
    $('#item_batches_grid').kendoGrid({
      dataSource: {
        transport: {
          read:  {
            url: "/batches/" + item + "/journal.json",
          },
        },
        schema: {
            model: {
                id: "id",
                fields: {
                    amount: { type: "integer", validation: { min: 0, required: true }  },
                    type: { type: "string" },
                    date: {
                      type: "datetime",
                      parse: function(date) {
                             return kendo.parseDate(date)
                        },
                    },
                }
            }
        }
      },
      height: 400,
      filterable: false,
      sortable: true,
      pageable: true,
      columns: [
          {
              field: "type",
              title: "Тип операции",
          },
          {
              field: "amount",
              title: "Количество",
          },
          {
              field: "date",
              title: "Последнее обновление",
              format: "{0:dd/MM/yyyy hh:mm}",
              width: '24%'
          },
        ]
      });
  }
</script>