// Place all the styles related to the receipts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 992px) and (max-width: 1199px) {
  .container, main {
      width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1350px;
  }
}
/*.col-md-12 {
  padding-right: 0 !important;
}*/
#wrapper {
  margin: 0 auto;
}

#wrapper > #receipts_grid {
  float: left;
  width: 65%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #wrapper > #cash_op {
      width: 34%;
  }
}
@media (min-width: 1200px) {
  #wrapper > #cash_op {
      width: 34.8%;
  }
}

#wrapper > #cash_op {
  float: left;
  padding-left: 1%;
}

#wrapper > #cash_op > h1 {
  text-align: right;
  margin-top: -19px;
}

#wrapper > .errors_label {
  background: red;
  color: white;
  text-align: center;
}

.receipt_buttons_left, .receipt_buttons_right {
   min-height: 100px;
   width: 100%;
}

.receipt_buttons_left > button, .receipt_buttons_right > button {
  margin-top: 10px;
  min-height: inherit !important;
  width: 48%;
}