<div id="wrapper">
  <h1 class="errors_label hidden">ВОЗВРАТ</h1>
  <div id="receipts_grid"></div>

  <div id="cash_op">
    <h3>Итого</h3>
    <h1 id="total_sum">0</h1>

    <h3>Оплачено</h3>
    <h1 id="total_paid">0</h1>

    <h3 id="return_type">Сдача</h3>
    <h1 id="total_return">0</h1>
    <br>
    <input type="text" class="input-lg" id="user_interaction" autofocus autocomplete="off">
    <div class="receipt_buttons_left">
      <button type="button" class="btn btn-default btn-lg" id="delete_button">Удалить</button>
      <button type="button" class="btn btn-default btn-lg pull-right" id="receive_money_button">Оплата</button>
    </div>
    <div class="receipt_buttons_right">
      <button type="button" class="btn btn-default btn-lg" id="return_button">Возврат</button>
      <button type="button" class="btn btn-default btn-lg pull-right" id="close_cheque_button">Закрыть <br />чек</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="cash_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <h2>Получено денег</h2>
          <input type="text" class="input-lg" id="cash_received" autofocus autocomplete="off">
        </div>
      </div>
    </div>
  </div>
</div>