<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
<!--     <li role="presentation" class="active"><a href="#all_receipts" aria-controls="all_receipts" role="tab" data-toggle="tab">Чеки</a></li> -->
    <li role="presentation" class="active"><a href="#mean_receipts" aria-controls="mean_receipts" role="tab" data-toggle="tab">Cредний чек за день</a></li>
    <li role="presentation"><a href="#total_sum_receipts" aria-controls="total_sum_receipts" role="tab" data-toggle="tab">Выручка</a></li>
    <li role="presentation"><a href="#popular_products" aria-controls="popular_products" role="tab" data-toggle="tab">Популярные товары</a></li>
    <li role="presentation"><a href="#total_products" aria-controls="total_products" role="tab" data-toggle="tab">Продукты с общим количеством</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="mean_receipts"><div id="mean_receipts_grid"></div></div>
    <div role="tabpanel" class="tab-pane" id="total_sum_receipts"><div id="total_sum_receipts_grid"></div></div>
    <div role="tabpanel" class="tab-pane" id="popular_products"><div id="popular_products_grid"></div></div>
    <div role="tabpanel" class="tab-pane" id="total_products"><div id="total_products_grid"></div></div>
  </div>

</div>